html, body {
    height: 100%;
}

body {
    font-family: Helvetica;
    max-width: 900px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item-container {
    width: 80%;
    /*max-width: 600px;*/
    margin: 5px;
    background: lightblue;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3px 10px;
    border-radius: 8px;
}

.list-item-title {
    margin: 0px;
    padding: 0px;
    line-height: 5px;
}

.list-item-image img {
    max-height: 200px;
    width: auto;
    box-sizing: border-box;
    padding: 10px 0;
}

.list-item-datetime-label {
    font-size: 14px;
    padding: 0px;
}

.list-item-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 5px 3px;
}

.index-actions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

.action-item a:link, .action-item a:visited {
    text-decoration: none;
    color: white;
}

.create-edit-page form {
    display: table;
}

.create-edit-page p {
    display: table-row;
}

.create-edit-page label {
    display: table-cell;
}

.create-edit-page input {
    display: table-cell;
    margin: 5px;
}

